.container-timeline {
  position: relative;
  width: 300px;
  border: 1px solid #e00;
  padding-bottom: 60px;
  .list-task {
    border: 1px solid #0e0;
    box-sizing: border-box;
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;
    .item-task {
      margin-top: 15px;
      border: 1px solid #00e;
      height: 60px;
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  .button-timeline--bottom {
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0px;
  }
}

// tiny scroll bar
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}